#table{
    background-image: url(../images/table2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    
}

.cardImage{
    height: 150px;
    width: 75px;
    border-radius: 5%;;
}
body{
    color: white
}

#player-hand,#dealer-hand{
    height: 150px;
    width: 100%;
}
#player-hand img,#dealer-hand img{
    margin-right: 5px;
}
.gameArea{
    margin-top: 80px;
    left:330px;
}
.tableDeck{
    top:150px;
    left:-250px;
}

#messages{
    height: 50px;
    color: red;
    font-size: 1.5rem;
}

.playerCardAnimate{
    animation-name: playerCard;
    animation-duration: 0.25s;
    animation-iteration-count: 2;

}
.playerCardAnimateSingle{
    animation-name: playerCard;
    animation-duration: 0.25s;
    animation-iteration-count: 1;

}
@keyframes playerCard{
    0% {top: 150px; left:-175px;}
    100% {top: 310px; left: 0px;}
    
}

.cardFlipAnimate{
    animation-name: flipCard;
    animation-duration: 0.5s;
    
}

@keyframes flipCard{
    0% {transform: scaleX(0.1);} 
    100% {transform: scaleX(1);}
    
}



.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}