#table{
    background-image: url(../images/table2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    
}

.cardImage{
    height: 150px;
    width: 75px;
}
body{
    color: white
}

#player-hand,#dealer-hand{
    height: 150px;
    width: 100%;
}
.gameArea{
    margin-top: 100px;
    left:350px;
}
.tableDeck{
    top:150px;
    left:-250px;
}

#message{
    height: 50px;
}

.playerCardAnimate{
    animation-name: playerCard;
    animation-duration: 0.5s;
    animation-iteration-count: 2;

}
@keyframes playerCard{
    0% {top: 150px; left:-175px;}
    100% {top: 310px; left: 0px;}
    
}

.cardFlipAnimate{
    animation-name: flipCard;
    animation-duration: 0.5s;
    
}

@keyframes flipCard{
    0% {transform: scaleX(0.1);} 
    100% {transform: scaleX(1);}
    
}